<div class="videos">
    <div class="slider">
        <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
        <ng-image-slider [images]="imageObject2" #nav></ng-image-slider>
        <h3>Above, you can find some of my cooking videos. It's a mixture between my shifts at the restaurant and home cooking, also shopping for ingredients.</h3>
        <h3>I don't talk very much to the camera, only to the customers, as the main goal of these videos to help you relax or study and also present the true experience of working as a head chef in a restaurant. </h3>
    </div>
</div>