<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><mat-icon>call</mat-icon> 020 7946 0582</p>
            <p><mat-icon>email</mat-icon>cheft2023@gmail.com</p>
            <p><mat-icon>restaurant</mat-icon> Lower Ground Floor, 9 Seymour St, London W1H 7BA, United Kingdom</p>
            <p><mat-icon>tv</mat-icon> <a href="https://www.youtube.com/c/MrT2022">Youtube</a></p>
        
        </mat-card-content>
    </mat-card>
</div>
