<div>
    <h1>Welcome to Chef T's vlog page!</h1>
    <div class="video">
        <video onloadstart="this.volume=0.3" id="video1" width="800" height="600" controls>
            <source src="/assets/video1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="main_component">
        <h2>Dear Visitor! My name is Chef T, I'm the head chef of a restaurant based in London. Let me introduce you to my passion: <strong>cooking.</strong></h2>
        <h3>About me: I've grown up in Budapest, Hungary. 4 years ago, I moved to London, to start a new life as a cook. I've quickly got promoted to head chef, and now I'm making these vlog videos as a side hustle.</h3>
        <h3>I would describe myself as a passionate, confident, and creative chef who can skilfully plan menus, prepare outstanding food, manage budgets, and lead a team of people to deliver quality of service to your customers. Over the years, I have gained the relevant academic qualifications, I always ensure the applicable safety and hygiene procedures are followed, and I am always on the lookout for new and ideas and inspiration to create menus that keep customers coming back to a restaurant time and time again.</h3>
    </div>

</div>